<div class="jumbotron">
  <% if @user.name %>
    <h1 class="text-center"><%= @user.name %>'s Saved Posts</h1>
  <% else %>
    <h1 class="text-center"><%= @user.email %>'s Saved Posts</h1>
  <% end %>
</div>

<center>
  <div class="container">
    <div class="row">
      <% @posts.each do |post| %>
        <div class="col-sm-6">
          <%= post.url %>
        
        <% if @user && post.votes.pluck(:user_id).exclude?(@user.id)%>
          <form action="/posts/upvote/<%=post.id%>" method="post">
            <button name="foo" value="upvote" class="btn btn-success">Upvote this post!</button>
          </form>
          <form action="/posts/downvote/<%=post.id%>" method="post">
            <button name="foo" value="downvote" class="btn btn-danger">Downvote this post!</button>
          </form>
        <% end %>
        <h3>Votes:<%= post.score%> </h3>
        </div>
      <% end %>
    </div>
  </div>
</center>