<div class="jumbotron">
  <% if @user.name %>
    <h1 class="text-center"><%= @user.name %>'s Saved Posts</h1>
  <% else %>
    <h1 class="text-center"><%= @user.email %>'s Saved Posts</h1>
  <% end %>
</div>


<div id="wrapper">
  <div id="columns">
  <% @posts.each do |post| %>
    <div class= "pin">
       <%if post.url%>
        <div class="well well-sm">
        <%= post.url %>
          <% else %>
          <div class="well">
            <h5><small><%= post.title %></small> <%= post.content %></h5 >
          <% end %>
            <form class = "merge_button" action="/posts/remove/<%=post.id%>" method="post">
         <center>
            <button name="foo" value="upvote" id="upvote" class="glyphicon glyphicon-remove"></button>
          </center>
          </form>
        <h5 class="text-center"><small>Votes:<%= post.votes.count %></small></h5>
         </div>
  </div>
  <% end %> 
  </div>
  </div>