<div class="jumbotron">
  <h1 class="text-center"><%= @sport %></h1>
 <form action="/posts/trending/<%= @sport %>" method="get">
  <button class="merge_button btn" name="trending" value="upvote">Trending</button>
 </form>

 <form action="/posts/<%= @sport %>" method="get">
  <button class="merge_button btn" name="trending" value="upvote">All</button>
 </form>
</div>

<div id="wrapper">
  <div id="columns">
    <% @posts.each do |post| %>
      <div class= "pin">
        <%if post.url%>
          <div class="well well-sm">
          <%= post.url %>
        <% else %>
          <div class="well">
            <h5><small><%= post.title %></small> <%= post.content %></h5 >
        <% end %>
        <% if @user && post.votes.pluck(:user_id).exclude?(@user.id) %>
          <center>
            <button data-id="<%= post.id %>" type="button" name="foo" value="upvote" class="upvote_button glyphicon glyphicon-thumbs-up"></button>
          </center>
        <% elsif @user %>
            <center>
            <button data-id="<%= post.id %>" type="button" name="foodown" value="downvote" class="downvote_button glyphicon glyphicon-remove"></button>
            </center>
        <% end %>
        <h5 class="text-center"><small>Votes:<span id="number_votes_<%= post.id %>"><%= post.votes.count %><span></small></h5>
      </div>
      </div>
    <% end %> 
  </div>
</div>
