<div class="jumbotron">
  <h1 class="text-center"><%= @sport %></h1>
</div>
<div id="wrapper">
  <div id="columns">
  <% @posts.each do |post| %>
<div class= "pin">
       <%if post.url%>
        <div class="well well-sm">
        <%= post.url %>
          <% else %>
        <div class="well">
        <h5><small><%= post.title %></small> <%= post.content %></h5 >
        <form class = "merge_button" action="/posts/upvote/<%=post.id%>" method="post">
        <%end%>
         <center>
            <button name="foo" value="upvote" id="upvote" class="
glyphicon glyphicon-thumbs-up"></button>
          </center>
          </form>
        <h5 class="text-center"><small>Votes:<%= post.votes.count %></small></h5>
         </div>
  </div>
  <% end %> 
  </div>
  </div>
